@import "base/mixins";
@import "base/variables";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/titles";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/media";
* {
    font-family: 'MuseoModerno', sans-serif;
    font-style: normal;
    /* outline: 1px solid red; */
    /* подчеркивает каждый элемент карсным */
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}