.advantages {
    min-height: 470px;
    background: #F6F6F6;
    h2 {
        padding-top: 70px;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
    }
    &_spacer {
        margin-top: 21px;
        max-width: 967px;
        height: 14px;
        background: #C4C4C4;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-top: 20px;
        &_icon {
            color: red;
            font-size: 60px;
            text-align: center;
        }
        &_bold {
            font-weight: 700;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            color: #0D0D0D;
        }
        &_normal {
            padding-top: 20px;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #0D0D0D;
            a {
                color: red;
            }
        }
    }
    &__item {
        width: 230px;
    }
}